body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

input, textarea {
  display: block;
  margin: 1rem 0;
}

.book {
  border: 1px solid #aaa;
  padding: 1rem;
  margin: 1rem auto;
}